/*import these files to be used in the main file*/
@import 'config';





.navbar {
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    margin-bottom: 0;
    border-radius: 0;
  }

 
 footer {
     /* Add a gray background color and some padding to the footer */
    background-color: $primary-color;
    padding: 25px;
    padding-top: 20px;
    color: $secondary-color;
  }

h6{
    font-weight: 400;   
}

.my_projects{
    background-color: $third-color;
}

.contact_me{
    @extend .my_projects;/*allow you to extend attribute from other class to use in another class*/
    padding-bottom: 10em;
}

.gap{
    background-color: #f2f2f2;
    padding: 25px;
    padding-top: 20px;
}